

################################################################################
# HigherKindness flags
#-------------------------------------------------------------------------------

# Enable aggressive zinc incremental compilation
build --worker_extra_flag=ScalaCompile=--persistence_dir=bazel-zinc
build --worker_extra_flag=ScalaCompile=--extracted_file_cache=bazel-zinc-outputs

# Persistent workers
build --strategy=ScalaCheckDeps=worker
build --strategy=ScalaCompile=worker
#build --strategy=SingleJar=worker

# Disable unused-dependencies-as-errors by default
# (Can be overridden by appending `--define=scala_deps_used=off` to the build command)
build --define=scala_deps_used=off
################################################################################

################################################################################
# Bazel caching flags
#-------------------------------------------------------------------------------

# Enable local persistent disk cache
build --disk_cache=~/.bazel/cache

# Prevent concurrent modification from poisoning the build cache
build --experimental_guard_against_concurrent_changes
################################################################################
